<html>
	<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="{{ url_for('static',filename='js/index.js') }}"></script>
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width">
	</head>
	<body onload="getReading()">
		<p class="version-tag">Catfeed Version {{version}}</p>
		<div class="index-page">
			<div class="top-banner">
				<p class="username">Welcome, {{username}}!</p>
				<p class="info">Lask Feed: {{last_feed}}</p>
				<p class="info">Remaining: {{food_remaining_percent}}</p>
				<a href="{{ url_for('logout') }}">Logout</a>
			</div>
			<div class="mainContainer">
				<ul class = "tabs">
					<li class = "tab-nav tabStatusNav"><a class="tab-nav-link" href="#tabContent">Feeder Status</a></li>
					<li class = "tab-nav tabScheduleNav"><a class="tab-nav-link" href="#tabSchedule">Schedule Feeds</a></li>
					<li class = "tab-nav tabHistoryNav"><a class="tab-nav-link" href="#tab3">Feeding History</a></li>
				</ul>
				<div class="tab-content tabStatusContent" id="tabContent">
					<!-- Feeder Status -->
					<div class="header">
						<h1>Feed My Cat Web Application</h1>
					</div>
					<div class="feeder-stats">
						<h2>Feeder Stats</h2>
						<p id="foodremaining">Food remaining: </p>
						<p id="last-feed">Last time fed: </p>
					</div>
					<ul class="feed-times">
						
					</ul>
					<div class="feeder-menu"></div>
				</div>
				<div class="tab-content tabScheduleContent" id="tabSchedule">
				<!-- Schedule Feeds -->
				</div>  
				<div class="tab-content tabHistoryContent" id="tab3">
					<!-- Feeding History -->
				</div>

			</div>
		</div>
	</body>
</html>
