body{
	background: rgb(7,76,108);	
	font-family:'Merriweather Sans', sans-serif;
}
.form-container{
	background-color:white;
	text-align:center;
	width:40%;
	height:40%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20vh;
	border: 2px solid black;
	border-radius: 6px;
}
h1{
	font-size:2vw;
	margin-top:20px;
	margin-bottom:20px;
}
form{
	width: 60%;
    margin-left: auto;
    margin-right: auto;
}
input{
	height:30px;
	margin-top:15px;
	width: 60%;
	font-size: 1.5vw;
}
.btn{
	font-size:2.4vw;
    height: 3.2vw;
	width: auto;
	color:white;
	background-color:rgb(96,142,255);
	border:1px solid lightblue;
	opacity:1;
	border-radius:8px;
	transition:ease-out .35s;
}
.btn:hover{
	opacity:.8;
	border-radius:16px;
	transition:ease-in .35s;
}

