<html>
	<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/viewLog.css') }}">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width">
	</head>
	<body>
		<div class="navbar">
			<ul class="navbar-items">
				<li class="nav-link"><a href="{{ url_for('home') }}">Home</a></li>
				<li class="nav-link"><a href="{{ url_for('viewLog') }}">Logs</a></li>
				<li class="nav-link"><a href="{{ url_for('logout') }}">Logout</a></li>
			</ul>
		</div>
		<div class="mainContainer">
		<h1>Feed my cat web application</h1>
		</br>
		<div class="logContainer">
			<table>
			<tr>
			<th>Feed ID</th>
			<th>Time</th>
			<th>Date</th>
			<th>Size</th>
			<th>Type</th>
			</tr>
			{% for row in logData %}
			<tr>
			<th> {{ row[0] }} </th>
			<th> {{ row[1] }} </th>
			<th> {{ row[2] }} </th>
			<th> {{ row[3] }} </th>
			<th> {{ row[4] }} </th>
			</tr>
			{% endfor %}
			</table>
		</div>
		</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	</script>
</html>
